footer
  .copyright © SkillDrive Inc. 2020
  nav.social_bar
    ul.menu_social
      li.social_icon
        a.social_link.icon-vk(href='https://vk.com' target='_blank' aria-label='Переход на страницу SkillDrive в ВКонтакте')
      li.social_icon
        a.social_link.icon-instagram(href='https://instagram.com' target='_blank' aria-label='Переход на страницу SkillDrive в Инстаграм')
      li.social_icon
        a.social_link.icon-facebook(href='https://facebook.com' target='_blank' aria-label='Переход на страницу SkillDrive в Фейсбук')