header
  a.logo_link(href='index.html' aria-label='Ссылка на главную страницу сервиса SkillDrive')
    img.logo_img(src='img/Logo.svg' alt='SkillDrive')
  .navbar
    nav.navbar_menu
      ul
        li.navbar_item
          a.navbar_link(href='about.html') О нас
        li.navbar_item
          a.navbar_link(href='terms.html') Условия
        li.navbar_item
          a.navbar_link(href='faq.html') Частые вопросы
    button.button_login(onclick='') Войти
  button.menu_burger
    img.burger_icon(src='img/menu_icon.svg' alt='Menu' aria-label='Открыть меню сайта')