meta(charset='utf-8')
meta(name='viewport' content='width=device-width')
// Шрифты подключены отдельным файлом - временное решение для обходы проблемы со сборкой стилей с помощью webpack
link(rel='stylesheet' type='text/css' href='temp_fonts.css')
link(rel='stylesheet' type='text/css' href='main.css')