doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    // Шрифты подключены отдельным файлом - временное решение для обходы проблемы со сборкой стилей с помощью webpack
    link(rel='stylesheet' type='text/css' href='temp_fonts.css')
    link(rel='stylesheet' type='text/css' href='main.css')
    title О нас
  body
    header
      a.logo_link(href='index.html' aria-label='Ссылка на главную страницу сервиса SkillDrive')
        img.logo_img(src='img/Logo.svg' alt='SkillDrive')
      .navbar
        nav.navbar_menu
          ul
            li.navbar_item
              a.navbar_link(href='about.html') О нас
            li.navbar_item
              a.navbar_link(href='terms.html') Условия
            li.navbar_item
              a.navbar_link(href='faq.html') Частые вопросы
        button.button_login(onclick='') Войти
      button.menu_burger
        img.burger_icon(src='img/menu_icon.svg' alt='Menu' aria-label='Открыть меню сайта')
    main
      section.top_section
        img.top_image(src='img/undraw_team_spirit_hrr41.svg' alt='Иллюстрация - команда' aria-hidden='true')
        h1 О нас
        p.top_text
          | Это учебный проект, созданный с целью получения боевого опыта в разработке настоящего живого веб-приложения. Этот сервис имитирует работу каршеринга, в котором можно не только арендовать автомобили, но и сдавать их в аренду.
      section.contacts
        h2 Контакты
        .contact_details
          .contacts_item
            p.contact_type Электронная почта
            p.contact_info drive@skillfactory.com
          .vertical_separator
          .contacts_item
            p.contact_type Телефон
            p.contact_info +7 912 123-45-67
      section.team
        h2 Команда
        .team_display
          .team_member
            img.team_photo(src='img/about_ivanov.jpg' alt='Иван Иванов фото')
            p.name Иван Иванов
            p.role CEO
          .team_member
            img.team_photo(src='img/about_smirnov.jpg' alt='Алексей Смирнов фото')
            p.name Алексей Смирнов
            p.role Frontend-разработчик
          .team_member
            img.team_photo(src='img/about_yartsev.jpg' alt='Денис Ярцев фото')
            p.name Денис Ярцев
            p.role Backend-разработчик
          .team_member
            img.team_photo(src='img/about_morozov.jpg' alt='Николай Морозов фото')
            p.name Николай Морозов
            p.role Дизайнер
          .team_member
            img.team_photo(src='img/about_deyeva.jpg' alt='Ирина Деева фото')
            p.name Ирина Деева
            p.role Копирайтер
          .team_member
            img.team_photo(src='img/about_strelkova.jpg' alt='Мария Стрелкова фото')
            p.name Мария Стрелкова
            p.role SMM
    footer
      .copyright © SkillDrive Inc. 2020
      nav.social_bar
        ul.menu_social
          li.social_icon
            a.social_link.icon-vk(href='https://vk.com' target='_blank' aria-label='Переход на страницу SkillDrive в ВКонтакте')
          li.social_icon
            a.social_link.icon-instagram(href='https://instagram.com' target='_blank' aria-label='Переход на страницу SkillDrive в Инстаграм')
          li.social_icon
            a.social_link.icon-facebook(href='https://facebook.com' target='_blank' aria-label='Переход на страницу SkillDrive в Фейсбук')
