doctype html
html(lang='ru')
  head
    //- Include head
    include ./components/head.pug
    script(src='main.js')
    title Частые вопросы
  body
    //- Include header
    include ./components/header.pug
    main.faq
      section.top_section
        img.top_image(src='img/undraw_questions_75e01.svg' alt='Иллюстрация - вопросы' aria-hidden='true')
        h1 Частые вопросы
        p.top_text Отвечаем на вопросы, которые у вас могут возникнуть.
      section.collapsible_wrapper
        button.collapsible(type='button')
          | Могу ли я отменить бронь?
          span.collapsible_icon.icon-chevron-down
        .content
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        button.collapsible(type='button')
          | Могу ли я вернуть деньги, если не подошёл автомобиль?
          span.collapsible_icon.icon-chevron-down
        .content
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        button.collapsible(type='button')
          | Что делать, если случилось ДТП?
          span.collapsible_icon.icon-chevron-down
        .content
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        button.collapsible(type='button')
          | Могу ли я оставить автомобиль в удобном для меня месте?
          span.collapsible_icon.icon-chevron-down
        .content
          p
            | Данный вопрос обсуждается с собственником, но как правило автомобиль нужно вернуть туда, где вы его получили.
        button.collapsible(type='button')
          | Что делать, если собственник просит заплатить ему напрямую?
          span.collapsible_icon.icon-chevron-down
        .content
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        button.collapsible(type='button')
          | Должен ли я заправлять автомобиль?
          span.collapsible_icon.icon-chevron-down
        .content
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    //- Include footer
    include ./components/footer.pug
