doctype html
html(lang='ru')
  head
    //- Include head
    include ./components/head.pug
    title SkillDrive
  body
    p Домашняя работа модуль 20
    p
      a(href='about.html') Страница «О нас»
    p
      a(href='faq.html') Страница «Частые вопросы»