* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #1B1B1B; }
  body a {
    text-decoration: none;
    color: inherit; }
  body h1 {
    font-size: 64px;
    margin: 60px auto 30px; }
  body h2 {
    font-size: 48px;
    margin: 60px auto 40px; }
  body li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px; }

@media screen and (max-width: 700px) {
  body {
    font-size: 16px; }
    body h1 {
      margin: 40px auto 10px;
      font-size: 32px; }
    body h2 {
      font-size: 24px;
      margin: 30px auto 10px; } }

header {
  height: 90px;
  padding: 0px 40px;
  color: #1B1B1B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF; }
  header .navbar {
    display: flex;
    align-items: center; }
    header .navbar .navbar_link {
      font-size: 16px;
      text-decoration: none; }
      header .navbar .navbar_link:hover {
        color: #61A199;
        transition: 0.2s; }
    header .navbar .button_login {
      margin-left: 25px;
      padding: 12px 30px;
      color: #1B1B1B;
      background-color: #FFFFFF;
      border: 1px solid rgba(27, 27, 27, 0.4);
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer; }
      header .navbar .button_login:hover {
        color: #61A199;
        box-shadow: 2px 2px 5px rgba(97, 161, 153, 0.2);
        border-color: rgba(97, 161, 153, 0.4);
        transform: scale(1.02);
        transition: 0.2s; }
  header .menu_burger {
    display: none; }

@media screen and (max-width: 700px) {
  header {
    height: 68px;
    padding: 0px 18px; }
    header .logo_link {
      margin-left: 5px; }
    header .navbar {
      display: none; }
    header .menu_burger {
      display: block;
      cursor: pointer;
      background-color: #FFFFFF;
      border: none;
      margin: 0; } }

footer {
  height: 124px;
  padding: 0 40px;
  background: #3F3D56;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  footer .copyright {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4); }
  footer ul.menu_social li {
    padding: 0 8px; }
    footer ul.menu_social li .social_link {
      color: #FFFFFF;
      font-size: 26px; }
      footer ul.menu_social li .social_link:hover {
        color: rgba(255, 255, 255, 0.4); }

@media screen and (max-width: 700px) {
  footer {
    height: 65px;
    padding: 30px 25px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    footer .menu_social {
      padding: 0; }
    footer ul.menu_social li {
      padding: 0 16px 0 0; } }

.collapsible_wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 0 0 112px;
  font-size: 20px;
  text-align: left; }
  .collapsible_wrapper .collapsible {
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: left;
    background-color: #F7F7F8;
    min-height: 20px;
    margin: 7px auto 8px;
    padding: 20px 72px 20px 22px;
    border: none;
    border-radius: 6px; }
    .collapsible_wrapper .collapsible .collapsible_icon {
      position: absolute;
      top: 24px;
      right: 28px;
      font-size: 16px;
      color: #A0A7AD;
      cursor: pointer; }
    .collapsible_wrapper .collapsible:hover {
      background-color: rgba(97, 161, 153, 0.1); }
    .collapsible_wrapper .collapsible.active {
      background-color: rgba(97, 161, 153, 0.15);
      color: #61A199;
      font-weight: 500; }
      .collapsible_wrapper .collapsible.active .collapsible_icon {
        transform: rotate(180deg);
        color: #61A199;
        top: 18px; }
  .collapsible_wrapper .content {
    padding: 0 22px;
    margin: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; }
    .collapsible_wrapper .content.open {
      margin: 20px auto 40px; }

@media screen and (max-width: 700px) {
  .collapsible_wrapper {
    width: 90%;
    padding: 0 0 42px; }
    .collapsible_wrapper .collapsible {
      padding: 14px 88px 14px 22px;
      font-size: 14px;
      line-height: 21px; }
      .collapsible_wrapper .collapsible .collapsible_icon {
        font-size: 12px;
        top: 18px;
        right: 20px; }
    .collapsible_wrapper .content {
      margin: 7px auto;
      font-size: 14px;
      line-height: 21px; }
      .collapsible_wrapper .content.open {
        margin: 15px auto 30px; } }

/* MAIN */
main {
  text-align: center; }
  main .top_section {
    padding: 80px 40px; }
    main .top_section .top_image {
      max-width: 70%; }
  main .top_text {
    width: 70%;
    margin: 0 auto;
    line-height: 35px; }

.faq .top_section {
  padding: 80px 40px 53px; }
  .faq .top_section .top_image {
    max-width: 72%;
    margin-bottom: -5px; }

@media screen and (max-width: 700px) {
  .top_section {
    padding: 40px 20px; }
    .top_section .top_image {
      max-width: 78%; }
    .top_section .top_text {
      width: 95%;
      line-height: 24px; }
  .faq .top_section {
    padding: 40px 20px 23px; }
    .faq .top_section .top_text {
      width: 98%; } }

.contacts {
  padding: 15px 40px 100px;
  background: #F7F9FB; }
  .contacts .contact_details {
    display: flex;
    align-items: center;
    justify-content: center; }
    .contacts .contact_details .contacts_item {
      margin: 0px 70px;
      width: 264px;
      min-width: 200px; }
      .contacts .contact_details .contacts_item .contact_type {
        color: #4F4F4F;
        font-size: 14px; }
      .contacts .contact_details .contacts_item .contact_info {
        color: #1B1B1B;
        font-size: 20px;
        margin-top: 10px; }
    .contacts .contact_details .vertical_separator {
      width: 1px;
      min-width: 1px;
      height: 62px;
      background: #C8C8CF; }

@media screen and (max-width: 700px) {
  .contacts {
    padding: 15px 20px 30px; }
    .contacts .contact_details {
      flex-wrap: wrap; }
      .contacts .contact_details .contacts_item {
        margin: 10px; }
        .contacts .contact_details .contacts_item .contact_type {
          font-size: 12px; }
        .contacts .contact_details .contacts_item .contact_info {
          margin-top: 10px;
          font-size: 14px; }
      .contacts .contact_details .vertical_separator {
        display: none; } }

/* team */
.team {
  padding: 22px 0 75px; }
  .team .team_display {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .team .team_display .team_member {
      margin: 15px 40px 45px; }
      .team .team_display .team_member .team_photo {
        border-radius: 50%; }
      .team .team_display .team_member .name {
        font-size: 20px;
        margin-top: 23px; }
      .team .team_display .team_member .role {
        font-size: 14px;
        color: #828282;
        margin-top: 12px; }

@media screen and (max-width: 700px) {
  .team {
    padding: 15px 15px 55px; }
    .team .team_display {
      width: 100%; }
      .team .team_display .team_member {
        margin: 20px 5px 10px;
        width: 45%; }
        .team .team_display .team_member .team_photo {
          width: 80px; }
        .team .team_display .team_member .name {
          font-size: 16px;
          margin-top: 15px; }
        .team .team_display .team_member .role {
          font-size: 12px;
          margin-top: 5px; } }