doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    // Шрифты подключены отдельным файлом - временное решение для обходы проблемы со сборкой стилей с помощью webpack
    link(rel='stylesheet' type='text/css' href='src/css/temp_fonts.css')
    link(rel='stylesheet' type='text/css' href='dist/main.css')
    title SkillDrive
  body
    p Домашняя работа модуль 20
    p
      a(href='about.html') Страница «О нас»
    p
      a(href='faq.html') Страница «Частые вопросы»