$basic_black: #1B1B1B;
$basic_white: #FFFFFF;
$basic_grey: #4F4F4F;

$background_lightblue: #F7F9FB;
$background_violet: #3F3D56;
$line_grey: #C8C8CF;
$role_grey: #828282;

// Collapsible
$collapsible_background: #F7F7F8;
$hover_background: rgba(97,161,153,0.1);
$active_background: rgba(97,161,153,0.15);
$active_font: #61A199;
$collapsible_icon:  #A0A7AD;

// Button
$basic_border: 1px solid rgba(27, 27, 27, 0.4);
$hover_border: rgba(97, 161, 153, 0.4);
$hover_shadow: 2px 2px 5px rgba(97, 161, 153, 0.2);